.container {
    display: flex;
    align-items: baseline;
    justify-content: center;
    
}
.box1 {
background-color:  #33cc33;
color: white;
align-content: center;
}
.box2 {
background-color: #0099ff;
font-size: 30px;
color: white;
align-content: center;
}
.box3 {
background-color: #072941;
font-size: 40px;
color: white;
align-content: center;
}
.box4 {
background-color: #680970;
font-size: 30px;
color: white;
align-content: center;
}
.box5 {
    background-color:  #d66214;
    color: white;
    align-content: center;
}